*{
    text-decoration: none;
}

body {
    width: 90%;
    margin: auto;
    background: url(cloud2.jpg) center;
    
    font-family: 'lato';
    line-height: 1.5;
  
}

img{
    max-width:10px;
    max-height:1px;
    width: auto;
    height: auto;

}

